.testimonials-elem-text p {
  text-align: center;
}

i.fa-brands.fa-github {
  margin: 0 0;
}
.logo {
  text-align: center;
}

.text-reverse {
  text-align: center !important;
}

.testimonials-elem {
  flex-direction: column;
}

.testimonials-elem-reverse {
  flex-direction: column-reverse;
}

.testimonials-elem-profil-text,
.testimonials-elem-project-text {
  text-align: center;
}

.testimonials-elem-profil img,
.testimonials-elem-project img{
  display: block;
  margin: 2rem auto;
}

.testimonials-elem-project img {
  width: 85vw;
}
.testimonials-elem-project:hover {
  transform: scale(1);
  cursor: pointer;
}

.container {
  margin-left: 20px;
}